<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
        <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <h1 class="title-1">Steve Jobs</h1>
    <h2 class="title-2">Inventor, Designer, Entrepreneur</h1>
    <a class="links" href="/views/home.html">Home</a>
    <a class="links" href="/views/about.html">About</a>
    <a class="links" href="/views/work.html">Work</a>
  </body>
</html>
